/* reset ================================ */


/* 共通レイアウト ================================ */


/* ヘッダー ================================ */
header {
  background-color: seagreen;
  height: 64px;
  width: 100%;
  line-height: 64px;
}

.header-logo a {
  color: white;
  float: left;
  font-size: 24px;
  padding-left: 15px;
}

.header-menus {
  float: right;
}

.header-menus li{
  list-style: none;
  float: left;
  padding-right: 15px;
}

.header-menus a {
  color: white;
}

/* top ================================ */


/* about ================================ */


/* フォーム================================ */


/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}
