/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}


/* 共通レイアウト ================================ */



/* ヘッダー ================================ */
header {
  height: 64px;
  z-index: 1;
  width: 100%;
  position: absolute;
  line-height: 64px;
  background-color: deepskyblue;
}

.header-logo a {
  float: left;
  padding-left: 20px;
  font-size: 24px;
  color: white;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  font-size: 13px;
  padding-left: 15px;
}

.header-menus li a {
  color: white;
}

/* top ================================ */
.container {
  position: absolute;
  margin: 0 auto;
  width: 100%;
}


/* about ================================ */



/* フォーム================================ */



/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: darkorange;
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}
