/* performances/index ================================ */
.performances-index-main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: beige;
}

.performances-index-main h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.performances-index-container {
  width: 840px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}

.performances-index-item {
  text-align: center;
  margin: 0 10px 30px 10px;
}

.performances-index-item img {
  height: 390px;
  width: 260px;
}

.performances-index-item a {
  font-size: 14px;
  color: black;
}

/* performances/show ================================ */
.performance-show-main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: beige;
}

.performance-show-container {
  text-align: center;
}

.performance-show-item img {
  height: 390px;
  width: 260px;
}