<div class="performances-index-main">
  <h1>〜公演一覧〜</h1>
  <div class="performances-index-container">
      <% @performances.each do |performance| %>
        <div class="performances-index-item">
          <img src="<%= performance.image_name %>"><br>
          <%= link_to(performance.contents,"/performances/#{performance.id}") %>
        </div>
      <% end %>
  </div>
</div>
