<div class="main performances-index">
  <div class="container">
    <div class="performances-index-item">
      <% @performances.each do |performance| %>
        <img src="<%= performance.image_name %>"><br>
        <%= link_to(performance.contents,"/performances/#{performance.id}") %>
      <% end %>
    </div>
  </div>
</div>
